img {
    padding: 10px;
    max-height: 300px;
    max-width: 300px;
  }


#facebook{
    background-color: pink;
    padding: 15px;
    margin: 15px;
}

#youtube{
    background-color: greenyellow;
    padding: 15px;
    margin: 15px;
}

#google{
    background-color: rgb(179, 103, 179);
    padding: 15px;
    margin: 15px;
}

#instagram{
    background-color: darksalmon;
    padding: 15px;
    margin: 15px;
} 

 #linkedin{
    background-color: aqua;
    padding: 15px;
    margin: 15px;
 }

